/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* variables */
/* Mixins */
.top-half-padding {
  margin-left: 40px;
  margin-right: 40px;
}
.subtitle-padding {
  padding-top: 40px;
  padding-bottom: 10px;
}
html,
body {
  height: 100%;
}
.container {
  max-width: 850px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}
header nav {
  width: 33%;
  display: flex;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}
section.top-half {
  background-color: #E8ECEF;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.top-half img {
  margin-left: 40px;
  margin-right: 40px;
  height: 300px;
  width: 300px;
}
section.top-half h1 {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 3rem;
}
section.top-half p {
  margin-left: 40px;
  margin-right: 40px;
}
section.top-half .tagline {
  font-size: 1.2rem;
}
section.top-half hr {
  margin-left: 40px;
  margin-right: 40px;
}
section.top-half button {
  margin-left: 40px;
  margin-right: 40px;
  height: 40px;
  width: 120px;
}
section.lower-upper-container {
  display: flex;
}
section.lower-upper-container .lower-upper {
  width: 50%;
}
section.lower-upper-container h2 {
  font-size: 1.5rem;
  padding-top: 40px;
  padding-bottom: 10px;
  font-weight: bold;
}
section.lower-upper-container p {
  padding-right: 20px;
  line-height: 1.5;
}
section.lower-upper-container h3 {
  font-size: 1.3rem;
  padding-top: 40px;
  padding-bottom: 10px;
  font-weight: bold;
}
section.lower-upper-container li {
  border: 1px solid lightgrey;
  font-size: 1.2rem;
  padding: 15px;
}
section.lower-lower {
  padding-bottom: 30px;
}
section.lower-lower h3 {
  font-size: 1.3rem;
  padding-top: 40px;
  padding-bottom: 10px;
  font-weight: bold;
}
section.lower-lower th {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
  padding: 15px;
  font-weight: bold;
  text-align: left;
}
section.lower-lower td {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  font-size: 1rem;
  padding: 15px;
}
section.lower-lower tr.gray-background {
  background-color: #f2f2f2;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #808080;
}
footer p {
  padding-top: 30px;
  padding-bottom: 50px;
  color: white;
}
